/* ------- HOME ------- */

.home {
    min-height: calc(100% - var(--header-height));
    width: 100%;
    background-color: var(--blue-white-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sticky + .home {
    padding-top: var(--header-height);
}
/* ------- HOME IMAGE ------- */

.home-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

.home-img {
    height: 100%;
    width: 100%;
    background-image: url("../../assets/img/face-photo-1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.home-img::after {
    content: "";
    display: inline-block;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 70%;
    right: 5%;
    background-image: url("../../assets/img/logos/simple-blue-logo.jpeg");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
    border-radius: 100%;
}

/* ------- HOME LOGO ------- */

.home-logo-container {
    background-color: var(--blue-color);
    height: 30%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.home-logo-container::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 120%;
    position: absolute;
    top: -19px;
    border-top-right-radius: 200%;
    background-color: var(--blue-color);
    z-index: 2;
}

.home-logo-container::after {
    content: "";
    display: inline-block;
    height: 40px;
    width: 100%;
    position: absolute;
    top: -39px;
    border-top-right-radius: 200%;
    background-color: var(--sky-color);
    opacity: 0.5;
}

.home-logo {
    background-image: url("../../assets/img/logos/blue-logo.jpeg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
}

@media (max-width: 500px) {
    .home-img {
        background-position-x: 70%;
    }

    .home-logo {
        background-size: 80%;
    } 
}

@media (max-height: 400px) {
    .home-img::after { 
        top: 60%;
    }
}